<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/ext/bootstrap.min.css">
    <link href="css/ext/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="css/main.less">

    <script src="js/ext/sweetalert.min.js"></script>
    <script src="js/ext/less.min.js"></script>
    <script src="js/main.js"></script>

    <title>
        {% if block("title") is defined %} {{ block("title") }} ||{% endif %} ČSOP Vlašim
    </title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>