 <div id="queue" style="display:none">
    <h2>Fronta</h2>
    <button onclick="clearQueue()" class="btn btn-danger main-button"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;VyÄistit</button>
    <div class="queue-items" id="queue_items"></div>
</div>